<!-- Begin Team List-->
<section id="team" class="team">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1 text-center">
        <h3>{{ site.registerBlockTitle }}</h3>
        <p class="text-left animated hiding" data-animation="fadeInUp" data-delay="0">{{ site.aboutRegistration }}</p>
        <iframe src="https://docs.google.com/forms/d/14qYhNt9nvyQ11e3QRLMNwEfM4E4nVTcfsQugbqSPbDE/viewform?embedded=true" width="760" height="1800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
        <div class="col-lg-10 col-lg-offset-1 text-center">

    </div>
</section>
<!-- End Team List -->
