<!-- Begin Tickets Section -->
<section id="tickets" class="tickets">
	<div class="content-wrapper">
		<div class="col-lg-8 col-md-10 col-lg-offset-2 col-md-offset-1">
			<h3>{{ site.ticketsTitle }}</h3>
			<h5>{{ site.ticketsInfo }}</h5><br/><br/>
			<center><a href=" ./register/ " class="btn btn-primary waves-effect waves-button waves-light waves-float">Register in the Devfest Bordj<div class="waves-ripple " target="_blank"></div></a></center>
		</div>
	</div>
</section>
<!-- End Tickets Section -->